<template>
	<div>
		<div class="modal fade show" role="dialog" v-if="messageInfo" aria-labelledby="exampleModalLabel" aria-hidden="true" style="display: block; background-color:#000000ad">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
	      		<div>
		        	<h5 class="modal-title">{{ messageInfo.content }}</h5>
		    	</div>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-secondary" @click="messageInfo = null">Close</button>
		      </div>
		    </div>
		  </div>
		</div>
		<div class="modal fade show" role="dialog" v-if="confirmInfo" aria-labelledby="exampleModalLabel" aria-hidden="true" style="display: block; background-color:#000000ad">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title">{{ confirmInfo.content }}</h5>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-primary" @click="confirmSucc(); confirmInfo = null">Ok</button>
		        <button type="button" class="btn btn-secondary" @click="confirmReject(); confirmInfo = null">Storno</button>
		      </div>
		    </div>
		  </div>
		</div>
		<div v-if="!route.id">
			<nav class="navbar navbar-light bg-secondary text-light">
				<div class="container">
			      	<div class="col-9">
						<h1>{{ _('contact-list')}}</h1>
			        </div>
			        <div class="col-3">
			        	<img v-for="languageItem in languages" 
			        		@click="switchLanguage(languageItem.short)"
			        		:src="languageItem.flag" 
			        		style="height: 25px; display: inline-block; padding-right: 3px; cursor: pointer"
			        		:style="languageItem.short == language ? 'opacity: 1' : 'opacity: .7'"/>
			        </div>
				</div>
			</nav>
			<div class="container">
				<div class="mt-3 mb-3">
					<router-link class="btn btn-primary" to="/contacts/new">{{ _('contact-list-new')}}</router-link>
				</div>
				<table class="table">
					<thead>
						<tr>
							<th>{{ _('contact-list-lastname') }}</th>
							<th>{{ _('contact-list-firstname') }}</th>
							<th>{{ _('contact-list-detail') }}</th>
						</tr>
					</thead>
					<tbody>
						<tr v-for="contact in contacts">
							<td>{{ contact.lastname }}</td>
							<td>{{ contact.firstname }}</td>
							<td><router-link :to="'/contacts/' + contact._id" class="btn btn-secondary">{{ _('contact-list-detail') }}</router-link></td>
						</tr>
					</tbody>
				</table>
				<div class="mt-3 mb-3">
					<router-link class="btn btn-primary" to="/contacts/new">{{ _('contact-list-new')}}</router-link>
				</div>
			</div>
		</div>
		<div v-if="route.id && record">
			<nav class="navbar navbar-light bg-secondary text-light">
				<div class="container">
			      	<div class="col-9">
						<h1>{{ _('contact-detail')}}: {{ getRecord().firstname }} {{ getRecord().lastname }}</h1>
			        </div>
			        <div class="col-3">
			        	<img v-for="languageItem in languages" 
			        		@click="switchLanguage(languageItem.short)"
			        		:src="languageItem.flag" 
			        		style="height: 25px; display: inline-block; padding-right: 3px; cursor: pointer"
			        		:style="languageItem.short == language ? 'opacity: 1' : 'opacity: .7'"/>
			        </div>
				</div>
			</nav>
			<div class="container">
				<div class="mt-3 mb-3">
					<button class="btn btn-success" @click="putContact" v-if="route.id != 'new'">{{ _('contact-save')}}</button>
					<button class="btn btn-danger" @click="deleteContact" v-if="route.id != 'new'">{{ _('contact-delete')}}</button>
					<button class="btn btn-primary" @click="postContact" v-if="route.id == 'new'">{{ _('contact-new')}}</button>
					<button class="btn btn-warning" @click="backToList">{{ _('contact-back')}}</button>
				</div>
				<div class="form">
					<div class="form-group">
						<label for="contact-firstname">{{ _('contact-list-firstname') }}</label>
						<input type="text" class="form-control" v-model="record.firstname" id="contact-firstname" />
					</div>
					<div class="form-group">
						<label for="contact-lastname">{{ _('contact-list-lastname') }}</label>
						<input type="text" class="form-control" v-model="record.lastname" id="contact-lastname" />
					</div>
					<div class="form-group">
						<label for="contact-email">{{ _('contact-list-email') }}</label>
						<input type="text" class="form-control" v-model="record.email" id="contact-email" />
					</div>
					<div class="form-group">
						<label for="contact-phone">{{ _('contact-list-phone') }}</label>
						<div class="row">
							<div class="col-sm-3 col-lg-2">
								<select class="form-control" v-model="record.phone.code">
									<option value="420">+420</option>
									<option value="420">+421</option>
								</select>
							</div>
							<div class="col-sm-9 col-lg-10">
								<input type="text" class="form-control" v-model="record.phone.number" id="contact-phone" />
							</div>
						</div>
					</div>
					<div class="form-group">
						<label for="contact-street">{{ _('contact-list-street') }}</label>
						<input type="text" class="form-control" v-model="record.address.street" id="contact-street" />
					</div>
					<div class="form-group">
						<label for="contact-city">{{ _('contact-list-city') }}</label>
						<div class="row">
							<div class="col-sm-3 col-lg-2">
								<input type="text" class="form-control" v-model="record.address.zip" id="contact-address-zip" />
							</div>
							<div class="col-sm-9 col-lg-10">
								<input type="text" class="form-control" v-model="record.address.city" id="contact-city" />
							</div>
						</div>
					</div>
				</div>
				<div class="mt-3 mb-3">
					<button class="btn btn-success" @click="putContact" v-if="route.id != 'new'">{{ _('contact-save')}}</button>
					<button class="btn btn-danger" @click="deleteContact" v-if="route.id != 'new'">{{ _('contact-delete')}}</button>
					<button class="btn btn-primary" @click="postContact" v-if="route.id == 'new'">{{ _('contact-new')}}</button>
					<button class="btn btn-warning" @click="backToList">{{ _('contact-back')}}</button>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import Vue from 'vue';
import ajax from 'axios';
import config from '../config.js';
import csFlag from './img/cs.png';
import enFlag from './img/en.png';
import _ from 'lodash';

const api = config.api;

export default {
	name: "App",
	props: [ "route" ],
	data: function() {
		const languages = {
			1: { id: 1, short: 'en', flag: enFlag },
			2: { id: 2, short: 'cs', flag: csFlag }
		};

		return {
			authToken: this.$cookie.get('auth-token') || null,
			language: this.$cookie.get('language') || window.localStorage.language || 'en',
			languages,
			contacts: [],
			record: null,
			messageInfo: null,
			confirmInfo: null
		}
	},
	async mounted() {
		const result = await ajax.get(api + "/contacts");
		this.contacts = result.data;
		if (this.route.id) {
			if (this.route.id == "new") {
				this.record = {
					firstname: "",
					lastname: "",
					email: "",
					phone: {
						code: "",
						number: ""
					},
					address: {
						street: "",
						zip: "",
						city: ""
					}
				}
			} else {
				this.record = this.getRecord();
			}
		}
	},
	watch: {
		'route.id': function(id) {
			if (id) {
				if (id == "new") {
					this.record = {
						firstname: "",
						lastname: "",
						email: "",
						phone: {
							code: "",
							number: ""
						},
						address: {
							street: "",
							zip: "",
							city: ""
						}
					}
				} else {
					this.record = this.getRecord();
				}
			}
		}
	},
	methods: {
		getRecord() {
			return _.assign({}, this.contacts.find(item => item._id == this.route.id));
		},
		switchLanguage(language) {
			this.language = language;
			window.localStorage.language = language
		},
		async putContact() {
			try {
				const result = await ajax.put(api + "/contacts/" + this.record._id, this.record);
				this.message(this._('contact-save-success'), 'success');
				const index = this.contacts.findIndex(item => item._id == this.route.id)		
				this.contacts[index] = this.record;
			} catch(e) {
				this.message(e, 'danger');
			}
		},
		async postContact() {
			try {
				const result = await ajax.post(api + "/contacts", this.record);
				this.message(this._('contact-make-success'), 'success');
				this.contacts.push(result.data);
				this.$router.push({path: "/contacts/" + result.data._id});
			} catch(e) {
				this.message(e, 'danger');
			}
		},
		deleteContact() {
			this.confirm(this._('contact-delete-confirm'), 'warning').then(async () => {
				try {
					const result = await ajax.delete(api + "/contacts/" + this.record._id, this.record);
					const index = this.contacts.findIndex(item => item._id == this.route.id)		
					this.contacts.splice(index, 1);
					this.$router.push({path: "/contacts"});
				} catch(e) {
					this.message(e, 'danger');
				}
			}).catch(() => {});
		},
		async backToList() {
			const original = this.getRecord();
			if (_.isEqual(original, this.record)) {
				this.$router.push({path: "/contacts"});
			} else {
				this.confirm(this._('contact-leave-changes'), 'warning')
					.then(() => {
						this.$router.push({path: "/contacts"});
					}).catch(() => {})
			}
		},
		message(content, type, closePromise) {
			this.messageInfo = { content, type }
		},
		confirm(content, type) {
			return new Promise((succ, reject) => {
				this.confirmInfo = { content, type }
				this.confirmSucc = succ;
				this.confirmReject = reject
			});
		},
		_(keyword) {
			const keywords = {
				'contact-list': { en: "Contact list", cs: "Seznam kontaktů"},
				'contact-list-new': { en: "New contact", cs: "Nový kontakt"},
				'contact-list-lastname': { en: "Last name", cs: "Příjmení"},
				'contact-list-firstname': { en: "First name", cs: "Jméno"},
				'contact-list-email': { en: "E-mail", cs: "E-mail"},
				'contact-list-phone': { en: "Phone", cs: "Telefon"},
				'contact-list-street': { en: "Street", cs: "Ulice"},
				'contact-list-city': { en: "City", cs: "Město"},
				'contact-list-detail': { en: "Detail", cs: "Detail"},
				'contact-detail': { en: "Contact detail", cs: "Detail kontaktu"},
				'contact-save': { en: "Save", cs: "Uložit"},
				'contact-save-success': { en: "Contact has been saved", cs: "Kontakt byl úspěšně uložen"},
				'contact-delete-confirm': { en: "Confirm delete contact?", cs: "Opravdu chcete smazat daný kontakt?"},
				'contact-leave-changes': { en: "Leave contact changes?", cs: "Zahodit změny kontaktu?"},
				'contact-delete': { en: "Delete", cs: "Odstranit"},
				'contact-back': { en: "Back", cs: "Návrat"},
			}
			return keywords[keyword] && keywords[keyword][this.language] ? keywords[keyword][this.language] : keyword ;
		}
	}
};	
</script>