<template>
  <div>
    <router-view :route="route" />
  </div>
</template>
<script>
import Vue from 'vue';

export default {
	name: "Route",
	data() {
		return { 
			route: {
				page: this.$route.params.page || "contacts",
				id: this.$route.params.id || null
			}
		}
	},
	watch: {
		'$route': function(value) {
			this.route = {
				page: this.$route.params.page || "contacts",
				id: this.$route.params.id || null
			}
		},
	}
};
</script>